.musicPlayer {
	position: relative;
	width: 100%;
	height: 90px;

	display: flex;
	flex-grow: 0;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	color: #34883f;
	z-index: 1;
}

.musicPlayerContentArea {
	position: relative;
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	box-sizing: border-box;
	padding: 25px 15px;
}

.musicPlayerProgress {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 3px;
	background-color: #34883f;
}

.musicPlayerTime {
	font-weight: lighter;
	font-size: 0.7em;
	position: absolute;
	top: 5px;
	right: 5px;
}

.musicPlayerTrackArea {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.1em;
}

.musicPlayerAlbumCover {
	height: 100%;
}

.musicPlayerTrackInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.musicPlayerTrackTitle {
	color: #34883f;
}

.musicPlayerAlbumTitle {
	margin-top: 2px;
	font-size: 0.8em;
	color: #34883fad;
	text-transform: uppercase;
}

.musicPlayerControlsArea {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.musicPlayerVolumeArea {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.musicPlayerVolumeSlider {
	position: relative;
	height: 5px;
	width: 100px;
	margin-right: 15px;
	background-color: #a2d4a9;
}

.musicPlayerVolumeSliderFill {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 50%;
	background-color: #34883f;
}

.playButton {
	width: 65px;
	height: 65px;
	background-size: contain;
	background-color: hsl(194, 51%, 46%);
	background-blend-mode: multiply;
	-webkit-mask-size: contain;
}

.trackButton {
	margin: 0 10px;
	height: 35px;
}

.trackButton.disabled {
	opacity: 0.4;
}

.volumeIcon {
	height: 35px;
	margin-right: 3px;
}

.exitIcon {
	height: 45px;
}

@media (max-width: 680px) {
	.musicPlayer {
		height: 70px;
	}
	.volumeIcon, .musicPlayerVolumeSlider, .trackButton {
		display: none;
	}
}