@value color-games, color-web, color-music, color-accent, color-neutral, color-neutral-dark, color-contrast, color-contrast-light, color-black from "../colors.css";

* {
	-webkit-tap-highlight-color: transparent;
}

:global #reactRoot {
	position: relative;
	height: 100%;
	overflow-y: scroll;
}

:root {
	--app-height: 100%;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

@media not all and (hover: hover) {
	html,
	body {
		height: var(--app-height);
	}
}

.body {
	width: 100vw;
	height: 100%;
	background-color: color-black;
	color: #252525;
	display: flex;
	flex-direction: column;
	background: linear-gradient(0deg, #445986, #bfbfbf);
}

.main {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	height: 100vh;
	max-height: -webkit-fill-available;
	height: -webkit-fill-available;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 30px;
	padding-bottom: 50px;
	overflow-y: scroll;
}

.container {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	padding-bottom: 50px;
}

.content {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 65px;
}

.header {
	composes: header from "../typography.css";
	composes: gradientText from "../typography.css";
	line-height: 1em;
	margin-bottom: 17px;
	transition: 0.4s all ease-out;
}

.pageHeader {
	composes: header;
	font-size: 2em;
	padding: 10px 12px;
	margin: 0px -12px;
	margin-bottom: 0.4em;
	text-transform: uppercase;
}

.gamePageHeader {
	composes: pageHeader;
	background-color: color-games;
}

.webPageHeader {
	composes: pageHeader;
	background-color: color-web;
}

.musicPageHeader {
	composes: pageHeader;
	background-color: color-music;
}

.section {
	margin: 20px 0px;
	margin-top: 0px;
	clear: both;
}

.titlelessSection {
	composes: section;
}

.sectionHeader {
	composes: subHeader from "../typography.css";
	padding: 10px 0px;
	padding-top: 0px;
	margin: 0;
}

.sectionContent {
	padding: 10px;
	border-left: 1px dashed white;
}

.sectionInnerContent {
	background-color: #ffffffff;
	padding: 12px 15px;
	margin: -10px 0px;
}

.titlelessSection > .sectionContent {
	padding: 0;
	border: 0;
}

.titlelessSection .sectionInnerContent {
	background-color: transparent;
	color: white;
	padding-left: 0px;
}

.sectionTitle {
	font-weight: lighter;
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 0px 0px;
	margin-bottom: 3px;
	color: #65bdde;
}

.sectionSubtitle {
	text-transform: lowercase;
	font-style: italic;
	font-size: 0.9em;
	margin-bottom: 10px;
	color: color-web;
}

.buttonContainer {
	margin: -10px 0px;
}

.line {
	display: inline-block;
	margin-right: 15px;
}

.button {
	composes: subHeader from "../typography.css";
	position: relative;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5em 0.75em;
	border: 0;
	outline: 0;
	margin-bottom: 20px;
	text-align: left;
	text-decoration: none;
	color: white;
}

.button:last-child {
	margin-bottom: 0;
}

.buttonTitle {
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 0;
	font-weight: normal;
}

.buttonSubtitle {
	composes: buttonSubtitle from "../typography.css";
	text-transform: lowercase;
}

.gameButton {
	box-shadow: 2px 3px 0px #5e84bb00;
	background-color: color-games;
}

.webButton {
	box-shadow: 2px 3px 0px #38947a00;
	background-color: color-web;
}

.musicButton {
	box-shadow: 2px 3px 0px #b13f6b00;
	background-color: color-music;
}

.projectContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: -20px -10px;
}

.project {
	position: relative;
	flex-grow: 1;
	box-sizing: border-box;
	margin: 10px;
	overflow: hidden;
}

.projectTitle {
	composes: subHeader from "../typography.css";
	position: relative;
	bottom: 0px;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 0.75em;
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
}

.projectBackground {
	min-width: 200px;
	min-height: 170px;
	background-position: center;
	background-size: cover;
	background-clip: padding-box;
	background-color: #ddd;
}

.buttonArrow {
	composes: text from "../typography.css";
	color: white;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0px;
	bottom: 0px;
	right: 10px;

	font-size: 2em;
}

.gifs {
	display: flex;
	width: 100%;
	height: 10vh;
}

.gif {
	flex-grow: 1;
	flex-shrink: 1;
	width: 30%;
	background-size: cover;
	background-position: center;
}

.footer {
	position: fixed;
	bottom: 0px;
	padding: 10px 0px;
	margin: 0;
	width: 100%;
	height: 55px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
	color: white;
	background-color: #4c5f8a;
	z-index: 1;
}

.footerBorder {
	position: absolute;
	top: -3px;
	width: 100%;
	height: 3px;
}

.footerHeader {
	composes: subHeader from "../typography.css";
	font-size: 1.2em;
	line-height: 1em;
	padding: 0;
	margin: 0px 10px;
	margin-right: 25px;
}

.socialIcon {
	position: relative;
	display: inline-block;
	border-radius: 5px;
	height: 100%;
	margin: 0px 5px;
	background-color: #958cc5;
	color: black;
}

.socialIcon img {
	height: 100%;
}

.twitterIcon {
	composes: socialIcon;
	background-color: color-games;
}

.emailIcon {
	composes: socialIcon;
	background-color: color-web;
}

.linkedInIcon {
	composes: socialIcon;
	background-color: color-music;
}

.githubIcon {
	composes: socialIcon;
	background-color: #444;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: #444;
	margin: 20px 0px;
	border-radius: 10px;
}

@media (max-width: 1000px) {
	p {
		font-size: 16px;
	}

	.main {
		padding: 20px;
	}

	.footer {
		height: 45px;
		padding: 7px 0px;
	}

	.section {
	}

	.footerHeader {
		font-size: 1em;
		margin-right: 15px;
	}

	.pageHeader {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
