.player {
	height: 300px;
	--control-height: 70px;
	margin: -12px -15px;
	box-sizing: border-box;
}

.browser {
	position: relative;
	width: 100%;
	height: calc(100% - var(--control-height));
	background-color: rgba(0, 0, 0, 0.05);
	overflow-y: scroll;
}

.albumBrowser {
	position: absolute;
	width: 100%;
}

.albumBrowserTitle {
}

.albumContainer {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.album {
	display: flex;
	flex-direction: column;
	width: 130px;
	margin: 10px;
	position: relative;
	background-color: white;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.albumIcon {
	width: 130px;
	height: 130px;
	margin: 0;
}

.albumTitle {
	font-size: 0.8em;
	padding: 5px 10px;
	margin: 0;
	line-height: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.songBrowser {
	position: absolute;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: local;
	min-height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.songContainer {
	max-width: 500px;
	margin: max(0px, min(40px, calc(100% - 500px))) auto;
	margin-top: calc(max(0, 500px - 100%));
}

.songBrowserTitleBar {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	display: flex;
	flex-direction: row;
	padding: 10px;
	position: relative;
	height: 50px;
	box-sizing: border-box;
}

.albumDescription {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	margin-bottom: 0;
	font-size: 0.8em;
	padding: 10px 15px;
}

.songBrowserBack {
	margin-right: 10px;
	height: 100%;
	background-color: transparent;
	border: 0;
	color: inherit;
	outline: 0;
}

.songBrowserTitle {
	margin: 0;
	font-size: 1.2em;
}

.songBrowserSongs {
	background-color: white;
}

.song {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 10px;
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.song:last-child {
	padding-bottom: 15px;
	border: 0;
}

.song:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.songIndex {
	font-size: 0.6em;
	margin-right: 20px;
	margin-left: 5px;
}

.songName {
	padding: 5px 0px;
}

.controls {
	position: relative;
	bottom: 0;
	height: var(--control-height);
	box-sizing: border-box;
}

.progressMeter {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 3px;
	background-color: gray;
}

.currentProgress {
	height: 100%;
	width: 100%;
	background-color: #9fca59;
	transform: scaleX(0);
	transform-origin: left;
}

.nowPlaying {
	width: 100%;
	height: 100%;
	padding: 10px;
	padding-top: 13px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.currentSongAlbum {
	height: 100%;
}

.currentSong {
	margin-left: 10px;
	line-height: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.currentSongName {
	margin-bottom: 2px;
	font-weight: bold;
	line-height: 1em;
}
.currentSongAlbumName {
	font-size: 0.8em;
	margin-bottom: 0;
}
.playButton {
	margin-left: auto;
	padding: 10px;
	position: relative;
	height: 100%;
	box-sizing: border-box;
}
.playButton img {
	height: 100%;
}
