.pullDown {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	z-index: 1;
}

.pullDownEnter {
	transform: translateY(-100%);
}

.pullDownActive {
	transform: translateY(0%);
	transition: 0.4s transform ease-in-out;
}

.pullDownExit {
	transform: translateY(-100%);
}
